
.ticket-subject{
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.15px;
    color: #333333;
}

.ticket-timestamp-box{
    display: flex;
    flex-direction: row;
    padding: 5px;
    margin-bottom: 0;
}

.ticket-timestamp-item{
    display: inline;
    width: max-content;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 0.25px;
    color: #333333;
    opacity: 0.6;
    
    &:not(:last-child)::after {
        content: "\2022";
        color: #C4C4C4;
        margin-left: 5px;
        margin-right: 5px;
    }

}

.ticket-priority-bar{
    background-color: #999999;
    height: 100%;
    width: 2px;
}

.ticket-card{
    padding: 15px;
    margin-bottom: 2px;
    background-color: #ffffff;
    &.active{
        border: 0.5px solid #27AE60;
    }
    &:hover{
        border: 0.5px solid #475867;
    }
}

.tag {
    border-radius: 4px;
    padding: 2px 10px;
    color: #848b99;
    font-size: 12px;
    background-color: #fff;
    font-weight: 500;
}
  
.ticket-tag-wrap {
    display: 100%;
    padding: 0 4px 1px;
}

.ticket-tag-group{
    width: max-content;
    &:not(:last-child)::after {
        content: "\2502";
    }
    
}
  
.tag-elapsed, .tag-fr-due, .tag-nr-due, .tag-overdue {
    background-color: #ffecf0;
    color: #c82124;
    border: 1px solid #ffd0d6;
}
  
.tag-customer-responded {
    background-color: #e5f2fd;
    color: #2c5cc5;
    border: 1px solid #bbdcfe;
}

.ticket-details-description {
    margin-bottom: 16px;
    border-radius: 4px;
    border-color: #bbdcfe;
    background-image: linear-gradient(#e5f2fd,#e5f2fd);
    border-radius: 4px;
}

.ticket-details-item {
    border-radius: 4px;
    margin-bottom: 16px;
    background-image: linear-gradient(#f5f7f9,#f5f7f9);
    position: relative;
    border: 1px solid #ebeff3;
}

.ticket-details-item:hover .floating-item-right {
    display: inline-block;
}


.status-title {
    text-transform: uppercase;
    margin-right: 6px;
    padding-left: 16px;
    margin-bottom: 4px;
}

.ticket-status{

    &::before{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        top: 8px;
        left: 2px;
        box-shadow: 0 0 0 1px #fff;
        z-index: 2;
    }
    
    &::after {
        content: "";
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        left: 0;
        top: 6px;
    }

    &.overdue::before {
        background-color: #e43538;
    }
    
    &.overdue::after {
        background-color: #ff5959;
    }
}