$light-green: rgb(205, 236, 150);
$white: #fff;
$light-grey: #ebebeb;
$light-shadow: rgb(161, 161, 161);
$shadow-grey: #777575;
$scrollbar-background: #9b9b9b;
$not-so-white: #eee;

$text-grey: #707070;
$text-grey-light: #bbbbbb;
$smoke-white: #f5f5f5;

$theme-smoke: #f5f5f5;
$theme-blue: #21c0fc;
$theme-oliver-green: #819721;
$theme-dark-green: #212f0e;
$theme-green: #b5d232;
$theme-lemon: #FD8825;
// $theme-lemon: #8dc441;
$theme-black: #222222;
$theme-primary: #F05C40;
$theme-secondary: #FD8825;
$theme-header: #1A222A;
$theme-nucleus: #0d1551;
$theme-navy: #12344d;
$mobile-view: 'screen and (min-width: 220px) and (max-width: 579px)';
$tablet-view: 'screen and (min-width: 580px) and (max-width: 989px)';
$desktop-view: 'screen and (min-width: 990px)';
$major-small-breakpoint: 720px;
$minor-medium-breakpoint: 870px;
$max-viewport: 1200px;
$sent-message: $theme-black;
