.search-bar {
  width: 100%;
  max-width: 960px;
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 2rem 0 1rem;
  margin-bottom: 1rem;
  position: relative;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-right: 1rem;
    padding: 0.8rem;
  }

  .suggestions {
    position: absolute;
    top: calc(100% - 1rem);
    z-index: 10;
  }

  button {
    padding: 0.8rem 2rem;
  }
}
