@import url('https://fonts.googleapis.com/css2?family=Mali:wght@700&display=swap');
html {
    font-size: 62.5%;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #000;
    -webkit-font-smoothing: antialiased;

    a {
        color: #000;
    }
}

.section--title{
    font-size: 25px;
    font-weight: 700;
    color: #1A222Aa1;
    padding: 15px;
    span {
        font-size: 25px;
        font-weight: 700;
        color: #FD8825;
    }
    
    @media screen and (min-width: 220px) and (max-width: 579px) {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }
    @media screen and (min-width: 580px) and (max-width: 989px) {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }
}
.text-dark-gray {
    color: #484E55;
}
.text-dark-gray.fade60 {
    color: #484E5590 !important;
}

.text-white.fade80{
    color: #ffffffbd !important;
}