
.stack-content {
    // text-decoration: none !important;
    // position: relative;
    margin-bottom: 5px;
  
    @media screen and (min-width: 220px) and (max-width: 579px) {
        padding: 10px 5px !important;
    }
  
    .save-button {
        padding: 7px 7px 4px;
        background-color: #ffffff9f;
        border-radius: 50%;
        position: absolute;
        right: 10px;
        top: 10px;
    }
  
    .save,
    .delete {
        font-size: 1.2rem;
        color: #222;
    }
  
    .rating-review {
        display: flex;
        // justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .rating {
            span {
                font-size: 0.9rem;
            }
            svg{
                margin-right: 10px; 
            }
        }
    }

    .review {
        font-size: 11px;
        color: #1A222Ab2;
        font-weight: 700;
        padding: 5px;
    }

    img {
        width: 100%;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        // height: 150px;
        object-fit: scale-down;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            // max-width: 180px;
            // max-height: 120px;
        }
    }

  
    &-tag {
        color: #1A222A70;
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 5px;
        // text-align: center;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            font-size: 8px !important;
        }
    }

    &-text {
        padding: 0.5rem 0.8rem;
        height: min-content;

        .work {
            font-size: 14px !important;
            // height: 50px;
            font-weight: bold;
            margin-bottom: 10px;
            color: #1A222A;
            @media screen and (min-width: 220px) and (max-width: 579px) {
                font-size: 11px !important;
            }

        }
    
        
    }
  
    &-bottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
        .pricing{
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: max-content;
            .starting_from_caption {
                justify-self: start;
                font-size: 12px !important;
                color: #999;
                color: #1A222A78;
                @media screen and (min-width: 220px) and (max-width: 579px) {
                    font-size: 8px !important;
                }
            }
        
            .starting_from_main {
                font-weight: 900;
                font-size: 17px;
                color: #FD8825;
                padding-top: 20px;
                padding-left: 10px;
                @media screen and (min-width: 220px) and (max-width: 579px) {
                    font-size: 12px !important;
                }
            }
        }
        .compare-icon {
            width: 50px;
            color: #484848;
        }
    }
}
  