.section--title{
    font-size: 25px;
    font-weight: 700;
    color: #1A222Aa1;
    padding: 15px;
    span {
        font-size: 25px;
        font-weight: 700;
        color: #FD8825;
    }
    
    @media screen and (min-width: 220px) and (max-width: 579px) {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }
    @media screen and (min-width: 580px) and (max-width: 989px) {
        font-size: 20px;
        span {
            font-size: 20px;
        }
    }
}

.page-content {
    z-index: 3;
    position: relative;
    background-color: #fff;
}
.sub-category-menu {
    display: flex;
    flex: 1 1;
    position: relative;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    .advert-banner-section {
        width: 270px;
        // border: 1px solid black;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            display: none;
        }
    }

    .stack-item {
        min-width: 150px;
        .stack-content {
            display: flex;
            flex-direction: column;
            &-img {
                background: #04066209;
                height: 150px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden ;
                img{
                    position: relative;;
                }
            }
            &-text{
                position: relative;
                padding-top: 15px;
                font-size: 15px;
                font-weight: 700;
            }
        }
    }
    

}

.popular-products{
    &-content {
        padding: 15px;

        .stack-items{
            
            display: flex;
            flex-direction: row;
    
            .stack-item{

                position: relative;
                display: flex;
                flex-direction: column;
                padding: 0px !important;
                margin-right: 10px;
                .stack-content {
                    // text-decoration: none !important;
                    position: relative;
                    margin-bottom: 5px;
                    display: flex;
                    flex-direction: column;
                    background-color: #ffffff;
                    border-radius: 5px;
                    overflow: hidden;
                    box-shadow: black 0px 8px 10px, black 8px 0px 10px;
                    box-shadow: 0px 1px 7px 1px rgba(102,96,102,1);
                
                    @media screen and (min-width: 220px) and (max-width: 579px) {
                        padding: 10px 5px !important;
                    }
                
                    .save-button {
                        padding: 7px 7px 4px;
                        background-color: #ffffff9f;
                        border-radius: 50%;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                    }
                
                    .save,
                    .delete {
                        font-size: 1.2rem;
                        color: #222;
                    }
                
                
                    &-img {
                        background: #04066209;
                        height: 157px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        overflow: hidden ;
                        img{
                            position: relative;;
                        }
                    }

                    &-tag {
                        color: #1A222A70;
                        font-size: 12px;
                        font-weight: 700;
                        margin-bottom: 5px;
                        // text-align: center;
                        @media screen and (min-width: 220px) and (max-width: 579px) {
                            font-size: 8px !important;
                        }
                    }

                    &-text {
                        padding: 0.5rem 0.8rem;
                        height: min-content;

                        .work {
                            font-size: 14px !important;
                            // height: 50px;
                            font-weight: bold;
                            margin-bottom: 10px;
                            color: #1A222A;
                            @media screen and (min-width: 220px) and (max-width: 579px) {
                                font-size: 11px !important;
                            }

                        }
                    
                        .rating-review {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            margin-bottom: 1rem;
                    
                            .rating {
                                span {
                                    font-size: 0.9rem;
                                }
                            }
                        }
                    
                        .review {
                            font-size: 0.8rem;
                        }
                    
                        .pricing{
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            min-width: max-content;
                            .starting_from_caption {
                                justify-self: start;
                                font-size: 12px !important;
                                color: #999;
                                color: #1A222A78;
                                @media screen and (min-width: 220px) and (max-width: 579px) {
                                    font-size: 8px !important;
                                }
                            }
                        
                            .starting_from_main {
                                font-weight: 900;
                                font-size: 17px;
                                // color: #FD8825;
                                padding-top: 20px;
                                padding-left: 10px;
                                @media screen and (min-width: 220px) and (max-width: 579px) {
                                    font-size: 12px !important;
                                }
                            }
                        }
                    }
                
                    &-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                
                        .compare-icon {
                            width: 50px;
                            color: #484848;
                        }
                    }
                }
    
            }
        }
    }
}

.livevend-app-section {
    background-color: #F0F0F0;
    position: relative;
    .clear-shift{ 
        width: 100%;
        background-color: black;
        background-color: #F0F0F0;
        background-color: #ffffff;
        height: 300px;
        position: absolute;
        top: -120px;
    }
    .livevend-app-section-content {
        background-color: #F0F0F0;
        position: relative;
    }
    .container {

        div.img-background {
            z-index: 0;
            display: flex;
            align-items: center;
            height: 450px;
            justify-content: flex-end;
            img.livevend-app {
              z-index: 0;
              position: relative; 
              right: -80px;
              top: 60px;
              object-fit: contain;
              max-height: 450px;
            }
            img.livevend-project-app {
                object-fit: contain;
                z-index: 2;
                top: 30px;
                position: relative;
                max-height: 450px;
            }
            @media  screen and (min-width: 220px) and (max-width: 579px) {
              display: none;
            }
        }
  
        div.right-container{
            position: relative;
            height: 100%;
            align-items: center;
            display: flex;
            flex: 1;
            padding: 15px;
        }
    
    
        @media screen and (min-width: 990px) {
            display: flex;
            justify-content: center;
            text-align: center;
            // padding: 4rem 3rem 3rem;
        
            // &-right {
            //     width: 45%;
            //     align-self: center;
            // }
        
            &-left {
                img {
                position: absolute;
                // width: 320px;
                right: 15%;
                bottom: 0;
        
                   
                }
            }
        }
    
        .app-section--text {
          text-align: left;
          max-width: 500px;
          
          &-main {
            font-size: 50px;
            font-weight: 800;
            margin-top: 1rem;
            margin-bottom: 1rem;
            line-height: 45px;
            text-transform: uppercase;
            span {
                font-size: 50px;
                font-weight: 400;
            }
    
            @media screen and (min-width: 990px) {
              font-size: 70px;
              line-height: 80px;
            }
            @media  screen and (min-width: 220px) and (max-width: 579px) {
              font-size: 30px;
              max-width: 300px;
              margin-top: 1rem;
              margin-bottom: 1rem;
              line-height: 45px;
                span {
                    font-size: 30px;
                    font-weight: 400;
                }
            }
          }
    
          &-sub {
            font-size: 15px;
            line-height: 22.13px;
            font-weight: 500;
            color: #1A222A89;
            @media  screen and (min-width: 220px) and (max-width: 579px) {
              font-size: 14px;
              line-height: 18px;
            }
          }
          &-stores {
              display: flex;
              justify-content: space-around;
              padding: 15px;
              a {
                  img {
                      max-height: 50px;
                      object-fit: contain;
                  }
              }
          }
        }
    
    }
}