.home_content {
    // margin-bottom: 200px !important;
    // @media screen and (min-width: 220px) and (max-width: 579px) {
    //     margin-bottom: 0px !important;
    // }
}

.vendor-section{
    // position: absolute;
    background-color: #fff;
    // width: 100%;
    min-height: 200px;
    padding: 0;
    position: relative;
    top: -30px;
    z-index: 2;
    // display: flex;
    // flex: 1;
    // overflow-x: auto;

    display: flex;
    flex-wrap: wrap;
    // margin: 0px;
    overflow-x: auto;

    @media screen and (min-width: 220px) and (max-width: 579px) {
        position: relative;
        padding: 5px 5px;
        background-color: transparent;
        background-color: #EBFAFF;
        top: 0px;   
    }
    .col{
        padding: 0;
        width: auto;
        max-width: none;
    }
    .vendor-items {
        display: flex;
        margin: 0px;
        position: relative;
        min-width: 300px;
        padding: 0px !important;
        overflow-x: hidden;

        .vendor-item {
            position: relative;
            display: flex;
            flex-direction: column;
            padding: 0px !important;
            min-width: 183px;
            width: 183px;
            height: 150px;
            @media screen and (min-width: 220px) and (max-width: 579px) {
                min-width: 133px;
                width: 133px;
                height: 108px;
            }
            .vendor-content {
                img {
                    max-width: auto;
                    object-fit: contain;
                    @media screen and (min-width: 220px) and (max-width: 579px) {
                        max-width: 120px;
                        max-height: 80px;
                    }
                }
                overflow: hidden;
                flex: 1; 
                border: 1px solid #484E5540;
                @media screen and (min-width: 220px) and (max-width: 579px) {
                    border: 0px solid #484E5540;
                    margin-right: 5px;
                    margin-bottom: 5px;
                }
                align-items: center;
                justify-content: center;
                display: flex;
                flex-direction: column;
                background-color: #fff;
                padding: 15px;
            }
          }
    }
}

.livevend-app-section {
    background-color: #F0F0F0;
    position: relative;
    .clear-shift{ 
        width: 100%;
        background-color: black;
        background-color: #F0F0F0;
        height: 300px;
        position: absolute;
        top: -120px;
    }
    .livevend-app-section-content {
        background-color: #F0F0F0;
        position: relative;
    }
    .container {

        div.img-background {
            z-index: 0;
            display: flex;
            align-items: center;
            height: 450px;
            justify-content: flex-end;
            img.livevend-app {
              z-index: 0;
              position: relative; 
              right: -80px;
              top: 60px;
              object-fit: contain;
              max-height: 450px;
            }
            img.livevend-project-app {
                object-fit: contain;
                z-index: 2;
                top: 30px;
                position: relative;
                max-height: 450px;
            }
            @media  screen and (min-width: 220px) and (max-width: 579px) {
              display: none;
            }
        }
  
        div.right-container{
            position: relative;
            height: 100%;
            align-items: center;
            display: flex;
            flex: 1;
            padding: 15px;
        }
    
    
        @media screen and (min-width: 990px) {
            display: flex;
            justify-content: center;
            text-align: center;
            // padding: 4rem 3rem 3rem;
        
            // &-right {
            //     width: 45%;
            //     align-self: center;
            // }
        
            &-left {
                img {
                position: absolute;
                // width: 320px;
                right: 15%;
                bottom: 0;
        
                   
                }
            }
        }
    
        .app-section--text {
          text-align: left;
          max-width: 500px;
          
          &-main {
            font-size: 50px;
            font-weight: 800;
            margin-top: 1rem;
            margin-bottom: 1rem;
            line-height: 45px;
            text-transform: uppercase;
            span {
                font-size: 50px;
                font-weight: 400;
            }
    
            @media screen and (min-width: 990px) {
              font-size: 70px;
              line-height: 80px;
            }
            @media  screen and (min-width: 220px) and (max-width: 579px) {
              font-size: 30px;
              max-width: 300px;
              margin-top: 1rem;
              margin-bottom: 1rem;
              line-height: 45px;
                span {
                    font-size: 30px;
                    font-weight: 400;
                }
            }
          }
    
          &-sub {
            font-size: 15px;
            line-height: 22.13px;
            font-weight: 500;
            color: #1A222A89;
            @media  screen and (min-width: 220px) and (max-width: 579px) {
              font-size: 14px;
              line-height: 18px;
            }
          }
          &-stores {
              display: flex;
              justify-content: space-around;
              padding: 15px;
              a {
                  img {
                      max-height: 50px;
                      object-fit: contain;
                  }
              }
          }
        }
    
    }
}
