.btn{
	color: white;
    font-weight: bold;
    padding: 0 20px;
    border-radius: 60px;
    min-height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    transition: .3s ease-in-out;
    outline: 0;
    display: inline-block;
    cursor: pointer;
}

.button {
    background: #8dc441;
    color: white;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    transition: 0.5s ease all;
    border: 1px solid #8dc441;
    cursor: pointer;
    font-size: 16px;
    outline: none !important;

    &:hover {
        background: #fff;
        border: 1px solid #819721;
        color: #819721;
        text-decoration: none;
    }

    &:focus {
        outline: none !important;
    }
}

.butn {
    padding: 0.4rem 1rem;
    border-radius: 5px;
    transition: 0.4s all ease-in-out;
    color: inherit;
    border: none;
    // font-weight: bold;
    outline: none !important;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    user-select: none;
    background-color: transparent;
    // line-height: 1.5;

    &-cirlce {
        border-radius: 50px;
    }
    &-no-boarder {
        border-width: 0px;
    }
    &-small {
        padding: 0 1rem;
    }

    &--disabled {
        background: #ddd;
        border: 1px solid #ddd;
        cursor: not-allowed;
    }

    &--red {
        background-color: red;
        border: 1px solid red;

        &:hover {
            background-color: white !important;
            color: red;
        }

        &--outline {
            border: 1px solid red;
            color: red;
            background: white;

            &:hover {
                background: red !important;
                color: white;
            }
        }
    }

    &--black {
        background: $theme-black;
        border: 1px solid $theme-black;

        &:hover {
            background: #fff;
            color: $theme-black;
        }

        &-outline {
            background: #fff;
            color: $theme-black;
            border: 1px solid $theme-black;

            &:hover {
                background-color: $theme-black !important;
                color: #fff;
            }
        }
    }

    &--green {
        background: $theme-lemon;
        border: 1px solid $theme-lemon;
        color: #fff;
        &:hover {
            background: #fff;
            color: $theme-lemon;
        }

        &-line {
            background: #fff;
            color: $theme-lemon;
            border: 1px solid $theme-lemon;
        }

        &--outline {
            background: white;
            color: $theme-lemon;
            border: 1px solid $theme-lemon;

            &:hover {
                background: $theme-lemon;
                color: #fff;
            }
        }
    }

    &--gray {
        background-color: '#F2F2F2';
        border: 1px solid $theme-header;
        color: $theme-header;
        &:hover {
            background: #fff;
            color: $theme-header;
        }

        &-line {
            background: #fff;
            // color: $theme-header;
            border: 1px solid $theme-header;
        }

        &--outline {
            background: white;
            color: $theme-header;
            border: 1px solid $theme-header;

            &:hover {
                background: $theme-header;
                color: #fff;
            }
        }
    }

    &--dark-green {
        background: #659542;
        border-radius: 5px;
        border: 1px solid #659542;
        color: #fff;
        transition: 0.5s ease all;
        &:hover {
            background: #fff;
            color: #659542;
        }

        &-line {
            background: #fff;
            color: #659542;
            border: 1px solid #659542;
        }

        &--outline {
            background: white;
            color: #659542;
            border: 1px solid #659542;

            &:hover {
                background: #659542;
                color: #fff;
            }
        }
    }

    &--blue {
        background: $theme-blue;
        border: 1px solid $theme-blue;
        &:hover {
            background: #fff;
            color: $theme-blue;
        }

        &--outline {
            background: white;
            border: 1px solid $theme-blue;
            color: $theme-blue;

            &:hover {
                background: $theme-blue;
                color: white;
            }
        }
    }

    &--white {
        background: white;
        border: 1px solid white;
        color: $theme-blue;

        &:hover {
            background: transparent;
            color: white;
        }

        &--outline {
            background: transparent;
            border: 1px solid white;
            color: white;

            &:hover {
                background: white;
                color: $theme-blue;
            }
        }
    }

    &--secondary {
        background-color: #e0e1e3;

        //   color: #12344d;
        //   color: #3c3b3b;
        border: 1px solid $theme-secondary;
        // background-image: linear-gradient(to bottom,#fff,#f3f5f7);

        &:hover {
            background-color: rgb(243, 243, 243);
            color: #212529;
        }
        &--outline {
            background: transparent;
            border: 1px solid white;
            color: white;

            &:hover {
                background: white;
                color: $theme-navy;
            }
        }
    }

    &.o-h {
        width: 130px;
        padding: 0.4rem;
        text-align: center;
    }
}
