.login {
  label,
  input {
    display: block;
    margin-bottom: 0.5rem;
  }

  input {
    margin-bottom: 1rem;
    border-radius: 5px;
    padding: 0.5rem;
    border: 1px solid #ddd;
  }

  .forgot a {
    display: block;
    margin-bottom: 1.5rem;
  }
}

.auth {

  display: flex;
  padding: 0 !important;
  min-height: 480px;
  &-main-container {
    flex: 1;
    flex-direction: column;
    padding: 15px;
    .logo-container {
      margin-top: 15px;
      max-height: 80px;
      align-items: center;
      justify-content: center;
      display: flex;
      img{
        object-fit: scale-down !important;
      }
    }
    .auth-form-container {
      flex:1;
      padding: 15px;
      .auth-page-title {
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 20px;
        font-weight: 700;
      }
      @media screen and (min-width: 220px) and (max-width: 989px){
        // justify-content: center;
      }
    }
  }
  &-banner {
    // display: none;
    width: 269px;
    background: linear-gradient(179.96deg, #FFDCB2 33.09%, #FEE7B5 51.18%, #FFD3AB 77.98%);
    @media screen and (min-width: 990px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    @media screen and (min-width: 220px) and (max-width: 989px){
      display: hidden;
      width: 0px;
      img {
        display: contents;
        width: 0px;
      }
    }
    .close-butn {
      position: absolute;
      right: 20px;
      top: 20px;
      width: 25px;
      height: 25px;
      display: flex;
      background-color: #fff;
      cursor: pointer;
      border-radius: 25px;
      align-items: center;
      justify-content: center;
      text-align: center;
      font-size: 12px;
      color: #000000;
      &:hover {
        background-color: #f2f2f2;
      }
    }
  }  
 
}