.pane-block {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 8px 10px #dddddd, 8px 0 10px #ddd;
  background: white;
  margin-bottom: 1rem;

  .pane-title {
    padding: 1rem 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h3 {
      font-size: 1.1rem;
    }

    h4 {
      color: #37a000;
    }
  }

  .pane-body {
    padding: 1rem 0;
  }
}
