.info-holder {
  position: relative;
  width: fit-content;
  font-size: 0.8rem;

  &:not(:hover) {
    .info {
      display: none;
    }
  }

  .info {
    width: 220px;
    background-color: #222222e7;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 0.5rem;
    position: absolute;
    z-index: 200;
    top: -150%;
    right: 150%;
    margin-left: -60px;
    display: block;
    font-size: 0.85rem;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 100%;

      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent #222222e7;
    }
  }
}
