
.page-content {
    position: relative;
    // min-height: 800px;
    padding-top: 15px;
    background-color: #fff;
    // @media (min-width: 720px){
    //     background-color: #fff;
    // }
    
}

.detail-container {
    @media (min-width: 1500px){
        max-width: 1500px;
    }
}
.container-sm {
    @media (min-width: 576px){
        max-width: 100%;
        margin-left: 15px;
        margin-right: 15px;
    }
}


.page-compare-section {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: hidden;

    .tab-section{
        display: flex;
        flex: 1 1;
        position: relative;
        overflow-x: hidden;
        margin-bottom: 20px;
        overflow-wrap: anywhere;
        .advert-section {
            display: none;
            @media (min-width: 990px) {
                display: block;
            }
            width: 270px;
            // border: 1px solid black;
            .adv-img{
                width: 100%;
                margin-bottom: 5px;
            }
        }
        
        .tab-content {
            flex: 1; 
        }

    }

    ul.desc-container{
        min-width: 300px;
        position: relative;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            min-width: 100%;
        }
        margin-top: 15px;
    }

    li.desc {
        width: 100%;
        background-color: #fff;
        display: flex;
        justify-content: space-between;
        padding: 15px;
        margin-bottom: 10px;
        span {
            font-size: 15px;
            color: #1A222A;
        }

        span.left {
            font-size: 15px;
            color: #1A222Ab2;
            margin-right: 10px;
        }
    }

}


.product-detail {
    &-container{
        margin-top: 30px;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    &-content{
        display: flex;
        position: relative;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            flex-direction: column;
            padding: 15px;
            margin-top: 15px;
        }
    }
    &-nav{
        display: flex;
        position: relative;
        padding: 15px 10px 0 10px;
        background: #ffffff;
        position: relative;
        margin-top: 20px;
        display: flex;
        border-bottom: 1px solid #DADADA;
        justify-content: space-between;
        .section--title{
            font-size: 17px;
            font-weight: 700;
            color: #1A222A;
        }
        .navigation ul li {
            min-height: 32px;    
            display: flex;
            // align-items: center;
            justify-content: center;
        }
        .navigation {
            position: relative;
            display: inline-block;
            @media screen and (min-width: 990px) {
            right: 0;
            }
            ul {
                display: flex;
                li {
                    margin-left: 15px;
                    margin-right: 15px;
                    // max-width: 120px;
    
                    a {
                        color: #1A222A44;

                        // text-transform: uppercase;
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 20px;
                        &.butn:hover {
                        color: #1A222A;
                        }
                        &.active {
                        color: #1A222A;
                        border-bottom: 3px solid #F05C40;
                        }
                        &.notifications {
                            position: relative;
                        }
                    }
    
                    &.m-t-three {
                        // margin-top: 3px;
    
                        svg {
                            margin-top: 2px;
                            width: 18px;
                        }
                        &.active {
                        color: #1A222A;
                        border-bottom: 3px solid #F05C40;
                        }
                        &:hover {
                            a {
                                color: #1A222A;
                            }
                        }
                    }
                }
            }

        }
    }

    &-desc {
        padding: 15px;
        height: min-content;
        color: #767A7F;
        width: 50%;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            width: auto;
            margin-bottom: 15px;
        }
        .work {
            font-size: 25px !important;
            list-style: 30px;
            font-weight: bold;
            margin-bottom: 15px;
            color: #1A222A;
            @media screen and (min-width: 220px) and (max-width: 579px) {
                font-size: 20px !important;
            }

        }
    
        .rating-review {
            display: flex;
            // justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
    
            .rating {
                span {
                    font-size: 0.9rem;
                }
                svg{
                    margin-right: 5px; 
                }
            }
        }
    
        .review {
            font-size: 11px;
            color: #1A222Ab2;
            font-weight: 700;
            padding: 5px;
        }

        .desc{
            margin-top: 15px;
            font-size: 13px;
            line-height: 22px;
            font-family: 'Airbnb Cereal App Light';
        }
    }

    &-img-container{
        display: flex;
        max-height: 260px;
        overflow: hidden;
        padding: 15px;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            margin-bottom: 15px;
            margin-top: 15px;
            padding: 15px;
        }
        .img-list {
            width: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .img-item {
                height: 50px;
                width: 50px;
                border: 1px solid #1A222A;
                border-radius: 5px;
                cursor: pointer;
                margin-bottom: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                position: relative;
                overflow: hidden ;
                background-color: #fff;
            }
        }
        .img-content {
            background: transparent;
            height: 250px;;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            overflow: hidden ;
            @media screen and (min-width: 220px) and (max-width: 579px) {
                width: 100%;
            }
            .active-img {
                max-height: 250px;;
                display: flex;
                justify-content: center;
                position: relative;
                overflow: hidden ;
                img{
                    position: relative;;
                }
            }
        }


        .img-content-header {
            padding: 5px 10px;
            display: flex;
            padding-left: 20px;
            position: relative;
            min-height: 40px;
            // justify-content: space-between;
            .save-button {
                height: 18px;
                width: 18px;
                background-color: #C4C4C470;
                border-radius: 50%;
                position: absolute;
                right: 10px;
                top: 8px;
                z-index: 3;
                line-height: 22px;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        

            .content-tag {
                background-color: #00B2FF30;
                color: #00B2FF;
                font-size: 12px;
                font-weight: 700;
                padding: 2px 10px;
                border-radius: 10px;
                margin-bottom: 5px;
                margin-right: 5px;
                // text-align: center;
                @media screen and (min-width: 220px) and (max-width: 579px) {
                    font-size: 8px !important;
                }
            }

            .save,
            .delete {
                font-size: 1.2rem;
                color: #222;
                cursor: pointer;
                z-index: 3;
            }

        }
    }

    &-pricing{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
        @media screen and (min-width: 220px) and (max-width: 579px) {
            padding: 15px;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .title {
            font-size: 15px;
            font-weight: 700;
            color: #1A222A;
        }
        .compare-price {
            display: flex;
            
        }

        .pricing{
            display: flex;
            align-items: center;
            min-width: max-content;
            .starting_from_caption {
                justify-self: start;
                font-size: 12px !important;
                color: #999;
                color: #1A222A78;
                @media screen and (min-width: 220px) and (max-width: 579px) {
                    font-size: 8px !important;
                }
            }
        
            .starting_from_main {
                font-weight: 900;
                font-size: 17px;
                color: #FD8825;
                padding-top: 20px;
                padding-left: 10px;
                @media screen and (min-width: 220px) and (max-width: 579px) {
                    font-size: 12px !important;
                }
            }
        }
        
    }
}


.compare-header {
    display: flex;
    flex: 1 1;
    position: relative;
    // border: 1px solid #DADADA;
    border-left: 1px solid #DADADA;
    overflow-x: hidden;
    overflow-wrap: anywhere;
    .stack-items{
        margin-bottom: 25px;
        min-height: 150px;
    }

    .stack-item.compare {
        width: 100%;
        // border: 1px solid #EBEBEB;
        position: relative;
        display: flex;
        flex-direction: column;
        margin:0;
        padding: 0;

        .stack-content {
            position: relative;
            margin-bottom: 5px;
            display: flex;
            flex-direction: column;
            background-color: transparent;
            border-radius: 5px;
            overflow: hidden;
            // margin-right: 10px;
            // margin-bottom: 10px;
            height: 100%;
         
            &-header {
                padding: 5px 10px;
                display: flex;
                justify-content: space-between;
                .menu-button {
                    height: 18px;
                    width: 18px;
                    border-radius: 50%;
                    position: absolute;
                    right: 0px;
                    top: 4px;
                    z-index: 3;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    svg {
                        color: #1A222A;
                    }

                }
            
            }

            &-img {
                background: transparent;
                height: 100px;
                max-height: 100px;
                max-width: calc(100% - 15px);
                display: flex;
                flex-direction: column;
                justify-content: center;
                // align-items: center;
                position: relative;
                overflow: hidden ;
                img{
                    position: relative;
                    object-fit: scale-down;
                }
            }
            &-text{
                position: relative;
                padding-top: 15px;
                font-size: 15px;
                font-weight: bold;
                line-height: 20px;
            }

            .save,
            .delete {
                font-size: 1.2rem;
                color: #222;
                cursor: pointer;
                z-index: 3;
            }

            &-text {
                padding: 0.5rem 0.8rem;
                height: min-content;

                .work {
                    font-size: 14px !important;
                    line-height: 20px;
                    font-weight: bold;
                    height: 40px;
                    margin-bottom: 10px;
                    // white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    color: #1A222A;
                    text-transform: capitalize;
                    @media screen and (min-width: 220px) and (max-width: 579px) {
                        font-size: 11px !important;
                    }

                }
            
                .rating-review {
                    display: flex;
                    // justify-content: space-between;
                    align-items: center;
                    margin-bottom: 1rem;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .rating {
                        span {
                            font-size: 0.5rem;
                        }
                        svg{
                            margin-right: 2px; 
                        }
                    }
                }
            
                .review {
                    font-size: 11px;
                    color: #1A222Ab2;
                    font-weight: 700;
                    padding: 5px;
                }
            
                .pricing{
                    display: flex;
                    align-items: center;
                    min-width: max-content;
                    .starting_from_caption {
                        justify-self: start;
                        font-size: 10px !important;
                        color: #999;
                        color: #1A222A78;
                        margin-top: -5px;
                        @media screen and (min-width: 220px) and (max-width: 579px) {
                            font-size: 8px !important;
                        }
                    }
                
                    .starting_from_main {
                        font-weight: 900;
                        font-size: 17px;
                        color: #FD8825;
                        padding-top: 5px;
                        padding-left: 10px;
                        margin-top: 0px;
                        @media screen and (min-width: 220px) and (max-width: 579px) {
                            font-size: 12px !important;
                        }
                    }
                }
                
            }
        }
    }
    

}

.info {

    &:hover{
        background-color: #dadada50;
        cursor: pointer;
    }
    &-title {
        padding: 1rem;
        font-size: 15px;
        border-left: 1px solid #dadada;
        // border-right: 1px solid #dadada;
        border-bottom: 1px solid #dadada;
        overflow: hidden;
        @media screen and (min-width: 220px) and (max-width: 800px) {
            font-size: 12px !important;
        }
    }
  
    &-body {
        // padding: 1rem 0;
        border-bottom: 1px solid #dadada;
        border-right: 1px solid #dadada;
    }
  
    &-header{
        background-color: #dadada;
    }

    &-row{
        flex: 1;
        height: 100%;
    }

    .info-item {
        display: flex;
        // flex : 1;
        padding: 1rem;
        border-left: 1px solid #dadada;
        // border-right: 1px solid #dadada;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        overflow: hidden;

        @media screen and (min-width: 220px) and (max-width: 550px) {
            min-width: 50%;
            font-size: 11px !important;
        }
        @media screen and (min-width: 550px) and (max-width: 800px) {
            max-width: 33.3%;
            font-size: 12px !important;
            min-width: 33.3%;
        }
    }
}
.compare-header-container {
    margin-left: auto;
    position: sticky !important;
    top: 100px;
    // margin-bottom: 1rem;
    padding: 0;
    display: block;
    border-top: 1px solid #DADADA;
    // border-bottom: 1px solid #DADADA;
    border-right: 1px solid #DADADA;
}


.compare-header {
    padding: 0;
    @media screen and (min-width: 550px) and (max-width: 800px) {
        max-width: 33.3%;
    }

    @media screen and (min-width: 220px) and (max-width: 550px) {
        min-width: 50%;
    }
    .name-remove {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    h3 {
        font-weight: bold;
        font-size: 18px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
        overflow: hidden;
    }
    img {
        display: block;
        width: 100%;
        height: 140px;
        border-radius: 10px;
        margin: 1rem 0;
        object-fit: cover;
    }
    p {
        text-align: justify;
        // color: $background-color;
        margin-top: 1.5rem;
        font-size: 0.9rem;
    }
}

.delete-compare {
    width: 100%;
    display: flex;
    margin-top: 1rem;
    justify-content: center;
    align-items: center;
}

.compare-container{
    display: flex;
    @media screen and (min-width: 220px) and (max-width: 800px) {
        flex-direction: column-reverse;
    }
    &-products{
        display: inline-block;
        @media screen and (min-width: 220px) and (max-width: 800px) {
            min-width: 100%;
        }
        .container {
            height: auto;
        }
    }
    &-search{
        position: relative;
        display: inline-block;
        padding: 0 0 0 10px;
        @media screen and (min-width: 220px) and (max-width: 800px) {
            min-width: 100%;
            padding: 15px;
        }
        .form{
            border: 1px solid #dadada;
            border-radius: 5px;
        }

        .result{
            
            ul{
                margin-top: 25px;
                display: flex;
                flex-direction: column;
                flex: 1;
                overflow: auto;
                @media screen and (min-width: 220px) and (max-width: 800px) {
                    max-height: 300px !important;
                    overflow: auto;
                }
                li{
                    padding: 5px 0px;
                    justify-content: flex-start !important;
                    width: 100%;
                    max-width: 300px !important;
                    margin: 0;
                    border-bottom: 1px solid #dadada;
                    margin-bottom: 5px;
                    color: #1A222A;
                    display: flex;
                    &.active{
                        background: #C4C4C456;
                    }
                    &:hover{ 
                        color: #F05C40;
                    }
                   
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 12px;
                    img{
                        margin-left: 5px;
                        height: 30px;
                        width: 30px;
                        object-fit: scale-down;
                    }
                    .text {
                        padding-left: 10px;
                        font-size: 13px;
                        display: flex;
                        flex-direction: column;
                        // display: block;
                        span {
                            font-size: 12px;
                        }
                    }

                    a{
                        display: flex;
                        font-size: 13px;
                    }
                    
                }
            }


        }
    }
    
}

.compare-search-field {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    // z-index: 12;
    
    svg {
        // margin-top: 6px;
        color: #fff;
    }

    input[type='text'] {
        background: #fff;
        border: transparent;
        outline: 0;
        border-top-left-radius : 5px;
        border-bottom-left-radius : 5px;
        padding: 10px 15px;
        height: 42px;
        min-width: 100px;
        display: flex;
        color: #1A222A;
        flex: 1
    }
    .search-icon{
        background-color: #F05C40;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 42px;
        height: 42px;
        border: 0px solid;
        border-top-right-radius : 5px;
        border-bottom-right-radius : 5px;
        .icon{
            margin-right: 0;
        }
    }
}
