.sm-mega-menu {
    display: flex;
    background-color: #fff;
    padding: 0 !important;
    flex-direction: row;
    border-radius: 10px;
    .category-list-menu {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 200px;
        width: auto;
        max-width: 300px;
        padding-bottom: 35px;

        nav{
            padding-top: 10px;
            width: 100%;
            ul{
                display: flex;
                flex-direction: column;
                flex: 1;
                li{
                    padding: 5px 5px;
                    justify-content: flex-start !important;
                    width: 100%;
                    max-width: 350px !important;
                    margin: 0;
                    margin-bottom: 5px;
                    color: #1A222A;
                    &.active{
                        background: #C4C4C456;
                    }
                    &:hover{ 
                        color: #F05C40;
                    }
                   
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 15px;
                    img{
                        margin-left: 5px;
                        height: 30px;
                        width: 30px;
                        object-fit: scale-down;
                    }
                    span {
                        padding-left: 15px;
                    }
                    
                }
            }
        }

    }
    .sub-category-section {
        // background-color: black;
        height: 100%;
        flex: 1;
        padding: 35px 15px;
        display: flex;
        flex-direction: column;
        .mega-title {
            margin-bottom: 10px;
            font-size: 25px;
            font-weight: 700;
        }

        .sub-category-menu {
            display: flex;
            flex: 1 1;
            position: relative;
            min-width: 400px;
            overflow-x: hidden;
            overflow-wrap: anywhere;
            nav{
                padding: 15px 15px 15px 0px;
                float: none;
                ul{
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    li{
                        padding: 5px 5px;
                        justify-content: flex-start !important;
                        width: 100%;
                        min-height: 20px !important;
                        max-width: 300px !important;
                        margin: 0;
                        color: #767A7F;
                        font-size: 12px;
                        font-weight: 700;
                        &.active{
                            color: #1A222A;
                            font-size: 15px;
                            a{
                                color: #1A222A;
                                
                            }
                        }
                        &:hover{ 
                            color: #F05C40;
                        }

                        a{
                            color: #1A222A;
                            background: transparent;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 15px;
                            img{
                                height: 30px;
                                width: 30px;
                                object-fit: scale-down;
                            }
                            span {
                                padding-left: 15px;
                            }
                        }
                    }
                }
            }
        }


    }
}
  