.footer-cutstruct {
    font-family: 'Airbnb Cereal App';

    a:hover {
        color: $theme-primary;
    }

    &-top {
        // background: #fafafa;
        display: flex;
        justify-content: center;
        background-color: $theme-header;
        position: relative;
        .footer-container{
            display: flex;
            flex-direction: row;
            width: 100%;
            max-width: 1440px;
            position: relative;
            // justify-content: space-between;
            @media #{$tablet-view} {
                flex-direction: column;
            }      
            @media #{$mobile-view} {
                flex-direction: column;
            }      
        }
        .footer-right-container {
            display: flex;
            flex-direction: column;
            color: #ffffffb0;
            justify-content: space-between;
            padding-right: 15px;
            width: 40%;
            position: relative;
            min-height: 200px;
            .footer-img-container{
                position: relative;
                overflow: hidden;
            }
            img {
                // object-fit: scale-down;
                position: relative;
            }
            .google-map-container{
                position: absolute;
                width: 130px;
                height: 130px;
                right: 0px;
                z-index: 1;
                top: 0px;
                background: #F05C40;
                display: flex;
                align-items: center;
                padding: 25px;
                justify-content: center;
                .google-map-action{
                    font-weight: 900;
                    font-size: 20px;
                    line-height: 24px;
                    color: #FFFFFF;
                }
                @media #{$tablet-view} {
                    width: 100px;
                    height: 100px;.google-map-action{
                        font-size: 18px;
                    }
                    // padding: 20px;
                }      
                @media #{$mobile-view} {
                    width: 100px;
                    height: 100px;
                    .google-map-action{
                        font-size: 15px;
                    }
                }      
            }
            @media screen and (min-width: 990px) {
                width: 40%;
            }
            
            @media #{$tablet-view} {
                margin-bottom: 15px;
                .copy{
                    display: hidden;
                }
            }      
            @media #{$mobile-view} {
                margin-bottom: 15px;
                .copy{
                    display: hidden;
                }
            }      
            .copy{
                margin-top: 15px;
            }

        }
        .footer-links-container {
            display: flex;
            flex-direction: column;
            padding: 25px 45px;
            flex: 1;
            @media #{$mobile-view} {
                padding: 15px;
            }
            .footer-header{
                font-size: 40px;
                color: #fff;
                line-height: 55px;
                font-weight: 900;
                margin-bottom: 20px;
            }

            @media screen and (min-width: 990px) {
                display: flex;

                ul {
                    width: 25%;
                }
            }

            li {
                color: #ffffffb0;
                line-height: 2.0;
                font-size: 11px;
                a {
                    color: #ffffffb0;
                }
                p { 
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 400;
                    line-height: 17px;
                    font-size: 11px;
                }
                svg {
                    opacity: 1;
                    margin-right: 0.5rem;
                }
            }

            .links-head {
                font-weight: bold;
                font-size: 12px;
                color: #fff;
                margin-bottom: 0.5rem;
            }
        }
    }

    &-bottom {
        // background: #f5f5f5;
        display: flex;
        justify-content: center;
        background-color: $theme-header;
        width: 100%;
        // padding: 1.5rem 0;
        position: relative;

        &-container {
            display: flex;
            width: 100%;
            max-width: 1440px;
            position: relative;
            padding: 1.5rem 0;

            // justify-content: space-between;
            .footer-social-media{
                

                @media screen and (min-width: 990px) {
                    width: 40%;
                    display: flex;
                    justify-content: center;
                    ul {

                    }
                }   
                li {
                    display: inline-flex; 
                    padding: 5px;          
                }
            }
            .footer-copy-right{
                display: flex;
                justify-items: center;
                color: #ffffffb0;
                line-height: 2.0;
                font-size: 11px;
                padding: 0px 25px;
                p { 
                    padding-left: 25px;
                    display: flex;
                    justify-content: flex-start;
                    font-weight: 400;
                    line-height: 17px;
                    font-size: 11px;
                }
            }
            
        }
    }

    &-logo {
        width: 80px;
        height: auto;
    }
}
