.card-wrapper {
  // overflow: hidden;
  display: block;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(139, 139, 139, 0.2);
  border-radius: 5px;
  margin-bottom: 1.5rem;
  margin-left: -5px;
  margin-right: -5px;
  min-height: 370px;
  text-decoration: none !important;
  padding: 5% 0 3rem 0;
  position: relative;

  .workstore-displayInfo-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;

    .workstore-displayInfo-tooltip {
      position: absolute;
      top: 1rem;
      left: -0.5rem;
      box-shadow: 0 1px 4px 0 rgba(139, 139, 139, 0.9);
    }

    .info-open {
      background-color: #21c0fc;
      padding: 0.2rem 25px;
      margin-left: -5px;
      cursor: pointer;

      &:before {
        content: '';
        position: absolute;
        right: -10px;
        bottom: 0;
        width: 0;
        height: 0;
        border-left: 10px solid #21c0fc;
        border-top: 10px solid transparent;
        border-bottom: 12px solid transparent;
      }

      p {
        color: #fff;
        font-size: 0.9rem;
      }

      &.closed {
        background-color: #989898;

        &:before {
          border-left-color: #989898;
        }
      }
    }
    .info-profile {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      padding-right: 10px;

      &-image {
        height: 30px;
        width: 30px;
        margin-right: 2px;
        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;

          @media screen and (max-width: 576px) {
            display: none;
          }
        }
      }

      &-name {
        p {
          font-size: 14px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 100px;
        }
      }
    }
  }

  .workstore-displayInfo-body {
    padding: 10% 5%;
    p {
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #000;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .workstore-displayInfo-budget {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #21c0fc;
    color: white;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    p {
      font-size: 14px;
    }

    &.closed {
      background-color: #989898;
      color: #ddd;
    }
  }

  .workstore-displayInfo-category {
    margin: 12% 5%;
    border: 1px solid #222;
    border-radius: 5px;
    padding: 1% 4%;

    a {
      color: #222;
      font-size: 13px;
      text-align: center;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      display: block;
    }

    &:hover {
      background-color: #222;
      a {
        color: white;
      }
    }
  }

  .workstore-displayInfo-button {
    justify-content: center;
    display: flex;
    margin-top: 10%;

    .info-button {
      font-size: 14px;
    }
  }
}
